:root{
    --beige : #4A0404;
    --purple:#C5ADC5;
    --black:#26282A;
    --white:#f6f6f6;
    --orange:#FF3131;
}

.page_2 {
    width: 100%;
    height: 80vh;
    color: var(--black);
}

#section_1 {
    display: flex;
    justify-content: center;
    height: 80vh;
    padding: 20px;
}

/* title and paragraph section */
.intro {
    align-self: center;
}

.intro h1 {
    text-align: center;
}

.intro p {
    text-align: center;

}

.intro_number {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.numbers {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.numbers p {
    color: var(--black);
    
}

.numbers p strong {
    color: var(--orange);
    
}

/* image section */
#section_2 {
    display: flex;
    justify-content: center;
    height: 80vh;
    padding: 20px;
}

.image {
    align-self: center;
}

.image img {
    width: 100%;
    height: 60vh;
    box-shadow: 4px 4px 7px var(--black);
    transform: rotate(10deg);

}

@media(max-width:770px) {
    .page_2 {
        height: 120vh;
        margin-top: 10vh;
        /* border: 2px solid violet; */
    }
 
    #p2image{
        margin-top: -400px;
        /* border: 2px solid royalblue; */
    }
    .image img {
        height: 40vh;
        transform: rotate(0deg);
    }
}
